* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: rgb(15, 20, 25);
    font-weight: 400;
    line-height: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1.2em;
}

.post-body p:last-of-type {
    margin-bottom: 0;
}

.social-card {
    max-width: 598px;
    margin: 0 auto;
    margin-top: 5em;
    border: 1px solid #ededed;

    transition: background-color .2s;
}

.social-card:hover {
    background-color: rgb(0, 0, 0, 0.03);
}

article {
    display: flex;
    padding: 0 1em;
    margin-top: 1em;

    cursor: pointer;
}

/*  ================
    Avatar
    ================ */

.avatar-container {
    margin-right: .8em;
    position:relative;
    width: 48px;
    height: 48px;
}

.user-avatar {
    width: 48px;
    vertical-align:top;
    border-radius: 100%;
}

.avatar-container:after {
    content:'\A';
    position:absolute;
    width:100%; height: 100%;
    top: 0; left: 0;
    background:rgba(0,0,0,0.15);
    opacity:0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    border-radius: 100%;
}

.avatar-container:hover:after {
    opacity:1;
}  

/*  ================
    Post
    ================ */

.post {
    padding-bottom: .8em;
}

.post-author, 
.post-date, 
.button-more {
    margin: 0;
}

/*  ================
    Post Header
    ================ */

.post-header {
    display: flex;
}

.post-author {
    font-size: 1.5rem;
    font-weight: 700;
}

.post-author-name:hover,
.post-date:hover {
    text-decoration: underline;
}

.post-author-url, 
.post-date, 
.dot-spacer {
    color: #5b7083;
}

.post-author-url {
    font-weight: 400;
}

.dot-spacer {
    margin: 0 .3em;
}

.button-three-dots-container {
    margin-left: auto;
    margin-top: -8px;
    width: 34.75px;
    height: 34.75px;
    fill: rgb(91, 112, 131);

    transition-duration: 0.5s;
    transition-property: background-color;
    
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-three-dots {
    width: 19px;
}

.button-three-dots-container:hover {
    background-color: rgba(29, 161, 242, 0.1);
    fill: rgba(29,161,242,1.00);
}

/*  ================
    Post Image
    ================ */

.post-body-image-container {
    margin-top: .8em;
    height: 280px;
    overflow: hidden;
    border: 1px solid rgb(196, 207, 214);
    border-radius: 16px;
}

.post-body-image {
    max-width: 100%;
}

/*  ================
    Post Footer
    ================ */

.post-footer {
    max-width: 425px;
    margin-top: .8em;
    display: flex;
    justify-content: space-between;
}





.icon {
    width: 19px;
    /* margin-right: .5em; */
}

.icon-color {
    fill: rgb(91, 112, 131);
}



.post-counter {
    margin: 0;
    padding-left: .2em;
    padding-right: 1em;
    font-size: 1.3rem;
    color: rgb(91, 112, 131);

    transition-duration: 0.2s;
    transition-property: color;
}


/* footer buttons container */
.button-post-footer-container {
    display: flex;
    /* border: 1px solid magenta; */
}

.button-post-footer {
    margin-top: -8px;
    width: 34.75px;
    height: 34.75px;
    fill: rgb(91, 112, 131);

    transition-duration: 0.5s;
    transition-property: background-color;
    
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-post-footer:hover {
    background-color: rgba(29, 161, 242, 0.1);
    fill: rgba(29,161,242,1.00);
}

.button-post-footer-container:hover .button-reply {
    background-color: rgba(29, 161, 242, 0.1);
    fill: rgba(29,161,242,1.00);
}

.button-post-footer-container:hover .reply-counter {
    color: rgba(29,161,242,1.00);
}

.button-post-footer-container:hover .retweet-counter {
    color: rgb(23, 191, 99);
}

.button-post-footer-container:hover .like-counter {
    color: rgb(224, 36, 94);
}

.button-post-footer-container:hover .button-retweet {
    background-color: rgba(23, 191, 99, 0.1);
    fill: rgb(23, 191, 99);
}

.button-post-footer-container:hover .button-like {
    background-color: rgba(224, 36, 94, 0.1);
    fill: rgb(224, 36, 94);
}