html {
    font-size: 10px;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
    color: rgb(15, 20, 25);
}

.social-card {
    max-width: 598px;
    margin: 0 auto;
    margin-top: 5em;

    border: 1px solid #ededed;
}

article {
    /* max-width: 566px; */
    display: flex;
    padding: 0 1em;
    margin-top: 1em;
}

.user-avatar {
    max-width: 48px;
    border-radius: 100%;
}

.avatar-container {
    border-radius: 90%;
    margin-right: .8em;
}

.post {
    padding-bottom: .8em;
}

.post-author, .post-date, .button-more {
    margin: 0;
}

.post-author {
    font-size: 1.5rem;
    font-weight: 700;
}

.post-author-url, .post-date, .dot-spacer {
    color: #5b7083;
}

.post-author-url {
    font-weight: 400;
    color: #5b7083;
}

.dot-spacer {
    margin: 0 .3em;
}

.button-three-dots {
    margin-left: auto;
    width: 19px;
    fill: rgb(91, 112, 131);
}

.post-footer-button {
    display: flex;
}

.icon {
    width: 19px;
    margin-right: .5em;
}

.icon-color {
    fill: rgb(91, 112, 131);
}

.post-counter {
    margin: 0;
    font-size: 1.3rem;
    color: rgb(91, 112, 131);
}

.count-color {
    color: rgb(91, 112, 131);
}

.post-header {
    /* border: 1px solid coral; */
    display: flex;
}

.post-footer {
    max-width: 425px;
    display: flex;
    justify-content: space-between;
    margin-top: .8em;
}

.post-body-image-container {
    height: 280px;
    overflow: hidden;
    border: 1px solid rgb(196, 207, 214);
    border-radius: 16px;
}

.post-body-image {
    max-width: 100%;
}

