html {
    font-size: 10px;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    box-sizing: border-box;
}

.social-card {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5em;

    border: 1px solid #ededed;
}

article {
    display: flex;
    padding: 0 1em;
    margin-top: 1em;
}

.user-avatar {
    max-width: 50px;
    border-radius: 100%;
}

.avatar-container {
    border-radius: 90%;
    margin-right: .8em;
}

.post-author, .post-date, .button-more {
    margin: 0;
}

.post-author {
    font-size: 1.5rem;
    font-weight: 700;
}

.post-author-url, .post-date, .dot-spacer {
    color: #5b7083;
}

.post-author-url {
    font-weight: 400;
    color: #5b7083;
}

.dot-spacer {
    margin: 0 .3em;
}

.three-dots-view-more-button {
    margin-left: auto;
    /* margin-top: .2em; */
    /* padding-top: .2em; */
    color: rgb(91, 112, 131);
    color: red;
    line-height: 0;
    
}

svg {
    /* display: inline-block; */
    /* background-color: green; */
    margin-top: .2em;
}

.button-three-dots {
    fill: rgb(91, 112, 131);
}

.post-header {
    /* border: 1px solid coral; */
    display: flex;
}

.post-body-image-container {
    max-width: 500px;
    height: 280px;
    overflow: hidden;
    border: 1px solid rgb(196, 207, 214);
    border-radius: 16px;
    /* padding: 1em; */
    /* background-color: red; */
    margin-bottom: 1em;
}

.post-body-image {
    max-width: 100%;
}

